In [1]:
!wget https://repo1.maven.org/maven2/com/microsoft/sqlserver/mssql-jdbc/9.4.0.jre8/mssql-jdbc-9.4.0.jre8.jar

--2023-02-24 21:51:18--  https://repo1.maven.org/maven2/com/microsoft/sqlserver/mssql-jdbc/9.4.0.jre8/mssql-jdbc-9.4.0.jre8.jar
Resolving repo1.maven.org (repo1.maven.org)... 199.232.192.209, 199.232.196.209
Connecting to repo1.maven.org (repo1.maven.org)|199.232.192.209|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1334599 (1.3M) [application/java-archive]
Saving to: ‘mssql-jdbc-9.4.0.jre8.jar.3’

mssql-jdbc-9.4.0.jr 100%[===================>]   1.27M  --.-KB/s    in 0.02s

2023-02-24 21:51:18 (61.5 MB/s) - ‘mssql-jdbc-9.4.0.jre8.jar.3’ saved [1334599/1334599]

In [2]:
# Install pyspark e as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install msal
!pip install pyspark
# Import SparkSession
from pyspark.sql import SparkSession
# Create a Spark Session
spark = SparkSession.builder.appName("myApp").config("spark.jars", "mssql-jdbc-9.4.0.jre8.jar").getOrCreate()
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")
# Check Spark Session Information
spark
# Import a Spark function from library
from pyspark.sql.functions import col, regexp_extract, regexp_replace

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: msal in /usr/local/lib/python3.8/dist-packages (1.21.0)
Requirement already satisfied: cryptography<41,>=0.6 in /usr/local/lib/python3.8/dist-packages (from msal) (39.0.1)
Requirement already satisfied: PyJWT[crypto]<3,>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from msal) (2.6.0)
Requirement already satisfied: requests<3,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from msal) (2.25.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography<41,>=0.6->msal) (1.15.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.0.0->msal) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.0.0->msal) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.0.0->msal) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests<3,>=2.0.0->msal) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography<41,>=0.6->msal) (2.21)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [3]:
# download do http para arquivo local
!wget --quiet --show-progress -O netflix.zip "https://storage.googleapis.com/kaggle-data-sets/434238/2654038/compressed/netflix_titles.csv.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230223%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230223T223500Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=3e0f8a87eab1f539319a4f7da5e373720365fdda63b10fc4d4a478b5c844dcd7500901f8867688f8d567ebb6df2f0e2f36d561ab314a690f090cf002b9114faa294c13e4a495f9ccb9ff2f3dddf7acfb40acd435d9aa15f227c58592c7ea71639c082c88b9760078c53ffb4759ca665a39b8e708efeecea3e9c7eda5439a5d89d720fb1eaff1f056b23aff29ae14d3029eacafcdf775bae58f2946ffeac5483151b7fa9e5555d291a3f541d837e39bc436cd6112693fec8082b12d898500762b7329468f068d1c97ed6e4ecc48bfa8504c464ac13b54da2054b9490675f415bd84518b43a246c6e2b9196aa50039a62236dcf8dfe98100f9790a631910912cba"
!unzip netflix.zip

netflix.zip         100%[===================>]   1.34M  2.38MB/s    in 0.6s
Archive:  netflix.zip
replace netflix_titles.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: netflix_titles.csv

In [4]:
from pyspark.sql.types import *
import pyspark.sql.functions as F
import re

In [7]:
# carregando arquivo com informações de autenticação para carga no Azure SQL
import json

# Lendo as informações de autenticação do arquivo config.json
with open('config.json', 'r') as f:
    config = json.load(f)

In [8]:
# carregando dados da Netflix e transformando em Spark Dataframe
netflix_df01 = spark.read.csv("./netflix_titles.csv", inferSchema=True, header=True)
# visualizando os tipos de dados de cada coluna
netflix_df01.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

In [9]:
# visualizando 5 primeiras linhas 
netflix_df01.show(20)

+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|             country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|     Kirsten Johnson|                null|       United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|                null|Ama Qamata, Khosi...|        South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|     Julien Leclercq|Sami Bouajila, Tr...|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|                null|Mayur More, Jiten...|               India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
|     s6|TV Show|       Midnight Mass|       Mike Flanagan|Kate Siegel, Zach...|                null|September 24, 2021|        2021| TV-MA| 1 Season|TV Dramas, TV Hor...|The arrival of a ...|
|     s7|  Movie|My Little Pony: A...|Robert Cullen, Jo...|Vanessa Hudgens, ...|                null|September 24, 2021|        2021|    PG|   91 min|Children & Family...|Equestria's divid...|
|     s8|  Movie|             Sankofa|        Haile Gerima|Kofi Ghanaba, Oya...|United States, Gh...|September 24, 2021|        1993| TV-MA|  125 min|Dramas, Independe...|On a photo shoot ...|
|     s9|TV Show|The Great British...|     Andy Devonshire|Mel Giedroyc, Sue...|      United Kingdom|September 24, 2021|        2021| TV-14|9 Seasons|British TV Shows,...|A talented batch ...|
|    s10|  Movie|        The Starling|      Theodore Melfi|Melissa McCarthy,...|       United States|September 24, 2021|        2021| PG-13|  104 min|    Comedies, Dramas|A woman adjusting...|
|    s11|TV Show|Vendetta: Truth, ...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, D...|"Sicily boasts a ...|
|    s12|TV Show|    Bangkok Breaking|   Kongkiat Komesiri|Sukollawat Kanaro...|                null|September 23, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|Struggling to ear...|
|    s13|  Movie|        Je Suis Karl| Christian Schwochow|Luna Wedler, Jann...|Germany, Czech Re...|September 23, 2021|        2021| TV-MA|  127 min|Dramas, Internati...|After most of her...|
|    s14|  Movie|Confessions of an...|       Bruno Garotti|Klara Castanho, L...|                null|September 22, 2021|        2021| TV-PG|   91 min|Children & Family...|When the clever b...|
|    s15|TV Show|Crime Stories: In...|                null|                null|                null|September 22, 2021|        2021| TV-MA| 1 Season|British TV Shows,...|Cameras following...|
|    s16|TV Show|   Dear White People|                null|Logan Browning, B...|       United States|September 22, 2021|        2021| TV-MA|4 Seasons|TV Comedies, TV D...|"Students of colo...|
|    s17|  Movie|Europe's Most Dan...|Pedro de Echave G...|                null|                null|September 22, 2021|        2020| TV-MA|   67 min|Documentaries, In...|Declassified docu...|
|    s18|TV Show|     Falsa identidad|                null|Luis Ernesto Fran...|              Mexico|September 22, 2021|        2020| TV-MA|2 Seasons|Crime TV Shows, S...|Strangers Diego a...|
|    s19|  Movie|           Intrusion|          Adam Salky|Freida Pinto, Log...|                null|September 22, 2021|        2021| TV-14|   94 min|           Thrillers|After a deadly ho...|
|    s20|TV Show|              Jaguar|                null|Blanca Suárez, Iv...|                null|September 22, 2021|        2021| TV-MA| 1 Season|International TV ...|In the 1960s, a H...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 20 rows

#### Verificando quantidade de linhas da tabela

In [10]:
netflix_df01.count()

8809

#### Verificando tipos de dados

In [11]:
netflix_df01.dtypes

[('show_id', 'string'),
 ('type', 'string'),
 ('title', 'string'),
 ('director', 'string'),
 ('cast', 'string'),
 ('country', 'string'),
 ('date_added', 'string'),
 ('release_year', 'string'),
 ('rating', 'string'),
 ('duration', 'string'),
 ('listed_in', 'string'),
 ('description', 'string')]

## Limpando colunas individualmente

##### Usando função distinct para visualizar valores únicos da coluna 'type'

In [12]:
netflix_df01.select('type').distinct().show()

+-------------+
|         type|
+-------------+
|         null|
|      TV Show|
|        Movie|
|William Wyler|
+-------------+

Verificando se a coluna "release_year" contém apenas números

In [13]:
# definindo a expressão regular para extrair linhas com apenas números
regex_pattern_numbers = r"^\d+$"

# extraindo as linhas com apenas números da coluna "title"
numbers_only = netflix_df01.filter(regexp_extract(col("release_year"), regex_pattern_numbers, 0) != "")

if numbers_only.count() == 0:
    print("A coluna 'release_year' não possui linhas com apenas números.")
else:
    print(f"A coluna 'release_year' possui {numbers_only.count()} linhas com apenas números")

A coluna 'release_year' possui 8787 linhas com apenas números

In [14]:
# executando consulta SQL para contar as linhas em branco na coluna "release_year"
netflix_df01.createOrReplaceTempView("netflix_df01")
sql_query = """
SELECT COUNT(*)
FROM netflix_df01
WHERE `release_year` IS NULL OR `release_year` = ''
"""
result = spark.sql(sql_query)
result.show()

+--------+
|count(1)|
+--------+
|       2|
+--------+

Pode-se concluir que a coluna "release_year" possui apenas dados numéricos ou em branco, que serão substituídos no final do notebook por "non_informed".
Agora faremos a verificação da coluna "title"

In [15]:
# definindo a expressão regular para extrair linhas com apenas números
regex_pattern_numbers = r"^\d+$"

# extraindo as linhas com apenas números da coluna "title"
numbers_only = netflix_df01.filter(regexp_extract(col("title"), regex_pattern_numbers, 0) != "")

if numbers_only.count() == 0:
    print("A coluna 'title' não possui linhas com apenas números.")
else:
    print(f"A coluna 'title' possui {numbers_only.count()} linhas com apenas números:")

A coluna 'title' possui 13 linhas com apenas números:

In [16]:
# substituindo as linhas com valores apenas numéricos por "non_informed" utilizando regex
netflix_df01 = netflix_df01.withColumn("title", regexp_replace(col("title"), regex_pattern_numbers, "non_informed"))

In [17]:
# verificando se a substituição foi bem sucedida através de sql query
netflix_df01.createOrReplaceTempView("netflix_df01")
spark.sql("select title from netflix_df01 where title='non_informed'").count()

13

Checando os dados da coluna 'duration' podemos verificar a presença de dados inválidos

In [18]:
# extraindo as linhas com apenas números da coluna "duration"
filtered_rows = netflix_df01.filter(regexp_extract(col("duration"), regex_pattern_numbers, 0) != "")

if filtered_rows.count() == 0:
    print("A coluna 'duration' não possui linhas com apenas números.")
else:
    print(f"A coluna 'duration' possui {filtered_rows.count()} linhas com apenas números")
    filtered_rows.show(truncate=False)

A coluna 'duration' possui 1 linhas com apenas números
+-------+-----+-------------------+----------------+-------------------------------------------------------------------------------------------------------+------------------+----------------+-------------+----------------+--------+---------+-----------+
|show_id|type |title              |director        |cast                                                                                                   |country           |date_added      |release_year |rating          |duration|listed_in|description|
+-------+-----+-------------------+----------------+-------------------------------------------------------------------------------------------------------+------------------+----------------+-------------+----------------+--------+---------+-----------+
|s1769  |Movie|The Next Karate Kid|Christopher Cain|"Pat Morita, Hilary Swank, Michael Ironside, Constance Towers, Chris Conrad, Arsenio ""Sonny"" Trinidad| Michael Cavalieri| Walton Goggins"|United States|November 1, 2020|1994    |PG       |107 min    |
+-------+-----+-------------------+----------------+-------------------------------------------------------------------------------------------------------+------------------+----------------+-------------+----------------+--------+---------+-----------+

In [19]:
# extraindo as linhas com apenas números da coluna "description"
filtered_rows = netflix_df01.filter(regexp_extract(col("description"), regex_pattern_numbers, 0) != "")

if filtered_rows.count() == 0:
    print("A coluna 'description' não possui linhas com apenas números.")
else:
    print(f"A coluna 'description' possui {filtered_rows.count()} linhas com apenas números")
    filtered_rows.show(truncate=False)

A coluna 'description' possui 3 linhas com apenas números
+-------+-----+--------------------+------------------+------------------------------------------------------------------------------------------------+----------------+-------------------+---------------+----------------+-------------+----------------+-----------+
|show_id|type |title               |director          |cast                                                                                            |country         |date_added         |release_year   |rating          |duration     |listed_in       |description|
+-------+-----+--------------------+------------------+------------------------------------------------------------------------------------------------+----------------+-------------------+---------------+----------------+-------------+----------------+-----------+
|s5892  |Movie|Beasts of No Nation |Cary Joji Fukunaga|"Idris Elba, Abraham Attah, Kurt Egyiawan, Jude Akuwudike, Emmanuel ""King Kong"" Nii Adom Quaye| Ama K. Abebrese| Kobina Amissah Sam| Francis Weddey| Richard Pepple"|United States|October 16, 2015|2015       |
|s6210  |Movie|Backfire            |Dave Patten       |"Black Deniro, Byron ""Squally"" Vinson                                                         | Dominic Costa  | Nick Ferraro      | Peter Ferriero| Jowharah Jones"|United States|April 5, 2019   |2019       |
|s6840  |Movie|Get Him to the Greek|Nicholas Stoller  |"Jonah Hill, Russell Brand, Elisabeth Moss, Rose Byrne, Colm Meaney, Sean ""P. Diddy"" Combs    | Aziz Ansari    | Carla Gallo       | Nick Kroll    | Kristen Schaal"|United States|January 16, 2020|2010       |
+-------+-----+--------------------+------------------+------------------------------------------------------------------------------------------------+----------------+-------------------+---------------+----------------+-------------+----------------+-----------+

In [20]:
#Excluindo as linhas encontradas acima

rows_to_discard = ["s1769", "s5892", "s6210", "s6840"]
netflix_df01 = netflix_df01.filter(~col("show_id").isin(rows_to_discard))

In [21]:
# Criando uma nova linha com os valores corretos para cada coluna
karate_kid_row = spark.createDataFrame([("s1769", "Movie", "The Next Karate Kid", "Christopher Cain", "Pat Morita, Hilary Swank, Michael Ironside, Constance Towers, Chris Conrad, Arsenio Sonny Trinidad, Michael Cavalieri", "", "2020-11-01", "1994", "PG", "107 min", "", "")],
                                ["show_id", "type", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description"])

beasts_row = spark.createDataFrame([("s5892", "Movie", "Beasts of No Nation", "Cary Joji Fukunaga", "Idris Elba, Abraham Attah, Kurt Egyiawan, Jude Akuwudike, Emmanuel ""King Kong"" Nii Adom Quaye, Ama K. Abebrese, Richard Pepple", "United States", "2015-10-16", "2015", "", "", "", "")],
                                ["show_id", "type", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description"])


backfire_row = spark.createDataFrame([("s6210", "Movie", "Backfire", "Dave Patten", "Black Deniro, Byron ""Squally"" Vinson, Dominic Costa, Jowharah Jones", "United States", "2019-04-05", "2019", "", "", "", "")],
                                ["show_id", "type", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description"])

greek_row = spark.createDataFrame([("s6840", "Movie", "Get Him to the Greek", "Nicholas Stoller", "Jonah Hill, Russell Brand, Elisabeth Moss, Rose Byrne, Colm Meaney, Sean ""P. Diddy"" Combs, Aziz Ansari, Kristen Schaal", "United States", "2020-01-16", "2010", "", "", "", "")],
                                ["show_id", "type", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description"])

# Adicionando as novas linhas ao DataFrame original
netflix_df01 = netflix_df01.union(karate_kid_row)
netflix_df01 = netflix_df01.union(beasts_row)
netflix_df01 = netflix_df01.union(backfire_row)
netflix_df01 = netflix_df01.union(greek_row)

In [22]:
#Verificando exclusão das linhas que possuiam dados em colunas não correspondentes.
netflix_df01.createOrReplaceTempView("netflix_df01")
sql_query = """
SELECT *
FROM netflix_df01
WHERE `title` = 'Backfire'
"""
result = spark.sql(sql_query)
result.show()

+-------+-----+--------+-----------+--------------------+-------------+----------+------------+------+--------+---------+-----------+
|show_id| type|   title|   director|                cast|      country|date_added|release_year|rating|duration|listed_in|description|
+-------+-----+--------+-----------+--------------------+-------------+----------+------------+------+--------+---------+-----------+
|  s6210|Movie|Backfire|Dave Patten|Black Deniro, Byr...|United States|2019-04-05|        2019|      |        |         |           |
+-------+-----+--------+-----------+--------------------+-------------+----------+------------+------+--------+---------+-----------+

Verificando se existem mais linhas com show_id incorreto

In [23]:
# Selecionando as linhas da coluna "show_id" que não começam com a letra "s"
rows_to_discard2 = netflix_df01.filter(~col("show_id").startswith("s"))
rows_to_discard2.show(truncate=False)

+--------------------+-------------+-----+-------------+--------------+-------+----------+------------+-----------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------+---------+-----------+
|show_id             |type         |title|director     |cast          |country|date_added|release_year|rating                       |duration                                                                                                                                          |listed_in|description|
+--------------------+-------------+-----+-------------+--------------+-------+----------+------------+-----------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------+---------+-----------+
| and probably will."|null         |null |null         |null          |null   |null      |null        |null                         |null                                                                                                                                              |null     |null       |
|Flying Fortress"    |William Wyler|null |United States|March 31, 2017|1944   |TV-PG     |40 min      |Classic Movies, Documentaries|This documentary centers on the crew of the B-17 Flying Fortress Memphis Belle as it prepares to execute a strategic bombing mission over Germany.|null     |null       |
+--------------------+-------------+-----+-------------+--------------+-------+----------+------------+-----------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------+---------+-----------+

In [24]:
# #Excluindo as duas linhas encontradas acima
rows_to_discard2 = [' and probably will."', 'Flying Fortress"']
netflix_df01 = netflix_df01.filter(~col("show_id").isin(rows_to_discard2))

Criando uma nova linha devidamente organizada para a obra "Flying Fortress" e atribuindo um id. Como a obra não possuía um id, o código sempre define seu id como sendo a última linha do dataframe + 1, garantindo qie tal linha fique sempre no final da tabela, mesmo quando o dataframe receber atualizações.

In [25]:
from pyspark.sql.functions import lit
rows_nbr_updated = netflix_df01.count()
new_show_id = "s" + str(rows_nbr_updated+1)

# Criando uma nova linha com os valores corretos para cada coluna
flying_fortress_row = spark.createDataFrame([(new_show_id, "", "Flying Fortress", "William Wyler", "", "United States", "2017-03-31", "1944", "", "", "Classic Movies, Documentaries", "This documentary centers on the crew of the B-17 Flying Fortress Memphis Belle as it prepares to execute a strategic bombing mission over Germany")],
                                ["show_id", "type", "title", "director", "cast", "country", "date_added", "release_year", "rating", "duration", "listed_in", "description"])

# Adicionando a nova linha ao DataFrame original
netflix_df01 = netflix_df01.union(flying_fortress_row)

In [26]:
#Verificando a criação com id correto da linha e verificando exclusão da que possuía dados em colunas não correspondentes.
netflix_df01.createOrReplaceTempView("netflix_df01")
sql_query = """
SELECT *
FROM netflix_df01
WHERE `title` = 'Flying Fortress'
"""
result = spark.sql(sql_query)
result.show()

+-------+----+---------------+-------------+----+-------------+----------+------------+------+--------+--------------------+--------------------+
|show_id|type|          title|     director|cast|      country|date_added|release_year|rating|duration|           listed_in|         description|
+-------+----+---------------+-------------+----+-------------+----------+------------+------+--------+--------------------+--------------------+
|  s8808|    |Flying Fortress|William Wyler|    |United States|2017-03-31|        1944|      |        |Classic Movies, D...|This documentary ...|
+-------+----+---------------+-------------+----+-------------+----------+------------+------+--------+--------------------+--------------------+

In [27]:
netflix_df01.show(7)

+-------+-------+--------------------+--------------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|            director|                cast|      country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+--------------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|     Kirsten Johnson|                null|United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|                null|Ama Qamata, Khosi...| South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|     Julien Leclercq|Sami Bouajila, Tr...|         null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|                null|                null|         null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|                null|Mayur More, Jiten...|        India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
|     s6|TV Show|       Midnight Mass|       Mike Flanagan|Kate Siegel, Zach...|         null|September 24, 2021|        2021| TV-MA| 1 Season|TV Dramas, TV Hor...|The arrival of a ...|
|     s7|  Movie|My Little Pony: A...|Robert Cullen, Jo...|Vanessa Hudgens, ...|         null|September 24, 2021|        2021|    PG|   91 min|Children & Family...|Equestria's divid...|
+-------+-------+--------------------+--------------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 7 rows

Alterando o tipo de dado da coluna "date_added" de String para Date e da coluna "release_year" de String para Integer

In [28]:
netflix_df01 = netflix_df01.withColumn("date_added", F.to_date(F.col("date_added"), "MMMM dd, yyyy")) \
    .withColumn("release_year",netflix_df01["release_year"].cast(IntegerType()))

Limpando dados inválidos restantes da coluna 'duration' e substituindo-os por non_informed

In [29]:
netflix_df01 = netflix_df01.withColumn("duration", F.when((col("duration").like("%min")) | (col("duration").like("%Seasons")) | (col("duration").like("%Season")),
                                                        col("duration")).otherwise("non_informed"))

In [30]:
netflix_df01.select('duration').distinct().collect()

[Row(duration='100 min'),
 Row(duration='153 min'),
 Row(duration='71 min'),
 Row(duration='56 min'),
 Row(duration='13 min'),
 Row(duration='119 min'),
 Row(duration='33 min'),
 Row(duration='165 min'),
 Row(duration='10 Seasons'),
 Row(duration='12 min'),
 Row(duration='204 min'),
 Row(duration='142 min'),
 Row(duration='173 min'),
 Row(duration='27 min'),
 Row(duration='157 min'),
 Row(duration='30 min'),
 Row(duration='39 min'),
 Row(duration='8 Seasons'),
 Row(duration='82 min'),
 Row(duration='21 min'),
 Row(duration='138 min'),
 Row(duration='40 min'),
 Row(duration='133 min'),
 Row(duration='24 min'),
 Row(duration='312 min'),
 Row(duration='25 min'),
 Row(duration='11 Seasons'),
 Row(duration='167 min'),
 Row(duration='124 min'),
 Row(duration='4 Seasons'),
 Row(duration='80 min'),
 Row(duration='13 Seasons'),
 Row(duration='102 min'),
 Row(duration='113 min'),
 Row(duration='77 min'),
 Row(duration='67 min'),
 Row(duration='141 min'),
 Row(duration='168 min'),
 Row(duration='52 min'),
 Row(duration='233 min'),
 Row(duration='93 min'),
 Row(duration='114 min'),
 Row(duration='193 min'),
 Row(duration='20 min'),
 Row(duration='14 min'),
 Row(duration='212 min'),
 Row(duration='15 min'),
 Row(duration='16 min'),
 Row(duration='111 min'),
 Row(duration='208 min'),
 Row(duration='228 min'),
 Row(duration='131 min'),
 Row(duration='3 Seasons'),
 Row(duration='179 min'),
 Row(duration='209 min'),
 Row(duration='132 min'),
 Row(duration='187 min'),
 Row(duration='83 min'),
 Row(duration='154 min'),
 Row(duration='7 Seasons'),
 Row(duration='69 min'),
 Row(duration='237 min'),
 Row(duration='88 min'),
 Row(duration='9 min'),
 Row(duration='158 min'),
 Row(duration='50 min'),
 Row(duration='37 min'),
 Row(duration='148 min'),
 Row(duration='214 min'),
 Row(duration='116 min'),
 Row(duration='10 min'),
 Row(duration='97 min'),
 Row(duration='125 min'),
 Row(duration='117 min'),
 Row(duration='115 min'),
 Row(duration='73 min'),
 Row(duration='164 min'),
 Row(duration='182 min'),
 Row(duration='174 min'),
 Row(duration='64 min'),
 Row(duration='59 min'),
 Row(duration='45 min'),
 Row(duration='129 min'),
 Row(duration='32 min'),
 Row(duration='26 min'),
 Row(duration='19 min'),
 Row(duration='136 min'),
 Row(duration='84 min'),
 Row(duration='122 min'),
 Row(duration='98 min'),
 Row(duration='155 min'),
 Row(duration='2 Seasons'),
 Row(duration='70 min'),
 Row(duration='273 min'),
 Row(duration='46 min'),
 Row(duration='126 min'),
 Row(duration='143 min'),
 Row(duration='85 min'),
 Row(duration='253 min'),
 Row(duration='145 min'),
 Row(duration='89 min'),
 Row(duration='192 min'),
 Row(duration='134 min'),
 Row(duration='152 min'),
 Row(duration='65 min'),
 Row(duration='194 min'),
 Row(duration='201 min'),
 Row(duration='229 min'),
 Row(duration='107 min'),
 Row(duration='135 min'),
 Row(duration='105 min'),
 Row(duration='42 min'),
 Row(duration='95 min'),
 Row(duration='76 min'),
 Row(duration='72 min'),
 Row(duration='181 min'),
 Row(duration='94 min'),
 Row(duration='74 min'),
 Row(duration='5 min'),
 Row(duration='5 Seasons'),
 Row(duration='108 min'),
 Row(duration='23 min'),
 Row(duration='128 min'),
 Row(duration='17 Seasons'),
 Row(duration='147 min'),
 Row(duration='160 min'),
 Row(duration='171 min'),
 Row(duration='11 min'),
 Row(duration='43 min'),
 Row(duration='177 min'),
 Row(duration='44 min'),
 Row(duration='205 min'),
 Row(duration='6 Seasons'),
 Row(duration='non_informed'),
 Row(duration='48 min'),
 Row(duration='79 min'),
 Row(duration='41 min'),
 Row(duration='87 min'),
 Row(duration='123 min'),
 Row(duration='29 min'),
 Row(duration='15 Seasons'),
 Row(duration='178 min'),
 Row(duration='58 min'),
 Row(duration='60 min'),
 Row(duration='31 min'),
 Row(duration='150 min'),
 Row(duration='230 min'),
 Row(duration='169 min'),
 Row(duration='47 min'),
 Row(duration='149 min'),
 Row(duration='54 min'),
 Row(duration='51 min'),
 Row(duration='176 min'),
 Row(duration='120 min'),
 Row(duration='121 min'),
 Row(duration='8 min'),
 Row(duration='196 min'),
 Row(duration='91 min'),
 Row(duration='170 min'),
 Row(duration='185 min'),
 Row(duration='118 min'),
 Row(duration='92 min'),
 Row(duration='139 min'),
 Row(duration='112 min'),
 Row(duration='61 min'),
 Row(duration='159 min'),
 Row(duration='137 min'),
 Row(duration='163 min'),
 Row(duration='224 min'),
 Row(duration='86 min'),
 Row(duration='166 min'),
 Row(duration='156 min'),
 Row(duration='35 min'),
 Row(duration='191 min'),
 Row(duration='189 min'),
 Row(duration='53 min'),
 Row(duration='146 min'),
 Row(duration='81 min'),
 Row(duration='22 min'),
 Row(duration='3 min'),
 Row(duration='162 min'),
 Row(duration='103 min'),
 Row(duration='140 min'),
 Row(duration='17 min'),
 Row(duration='190 min'),
 Row(duration='9 Seasons'),
 Row(duration='96 min'),
 Row(duration='68 min'),
 Row(duration='200 min'),
 Row(duration='49 min'),
 Row(duration='34 min'),
 Row(duration='203 min'),
 Row(duration='78 min'),
 Row(duration='130 min'),
 Row(duration='180 min'),
 Row(duration='1 Season'),
 Row(duration='18 min'),
 Row(duration='36 min'),
 Row(duration='186 min'),
 Row(duration='127 min'),
 Row(duration='195 min'),
 Row(duration='161 min'),
 Row(duration='110 min'),
 Row(duration='66 min'),
 Row(duration='38 min'),
 Row(duration='55 min'),
 Row(duration='144 min'),
 Row(duration='106 min'),
 Row(duration='99 min'),
 Row(duration='101 min'),
 Row(duration='151 min'),
 Row(duration='12 Seasons'),
 Row(duration='90 min'),
 Row(duration='104 min'),
 Row(duration='75 min'),
 Row(duration='63 min'),
 Row(duration='57 min'),
 Row(duration='109 min'),
 Row(duration='62 min'),
 Row(duration='28 min'),
 Row(duration='172 min')]

Limpando a coluna "director"

In [31]:
# extraindo as linhas com apenas números da coluna "director"
numbers_only = netflix_df01.filter(regexp_extract(col("director"), regex_pattern_numbers, 0) != "")

if numbers_only.count() == 0:
    print("A coluna 'director' não possui linhas com apenas números.")
else:
    print(f"A coluna 'director' possui {numbers_only.count()} linhas com apenas números")

A coluna 'director' não possui linhas com apenas números.

Limpando a coluna "Cast"

In [32]:
# extraindo as linhas com apenas números da coluna "cast"
numbers_only = netflix_df01.filter(regexp_extract(col("cast"), regex_pattern_numbers, 0) != "")

if numbers_only.count() == 0:
    print("A coluna 'cast' não possui linhas com apenas números.")
else:
    print(f"A coluna 'cast' possui {numbers_only.count()} linhas com apenas números")

A coluna 'cast' não possui linhas com apenas números.

Limpando a coluna "country"

In [33]:
# extraindo as linhas com apenas números da coluna "country"
numbers_only = netflix_df01.filter(regexp_extract(col("country"), regex_pattern_numbers, 0) != "")

if numbers_only.count() == 0:
    print("A coluna 'country' não possui linhas com apenas números.")
else:
    print(f"A coluna 'country' possui {numbers_only.count()} linhas com apenas números")
    numbers_only.show(truncate=False)

A coluna 'country' não possui linhas com apenas números.

In [34]:
# extraindo as linhas com apenas números da coluna "listed_in"
numbers_only = netflix_df01.filter(regexp_extract(col("listed_in"), regex_pattern_numbers, 0) != "")

if numbers_only.count() == 0:
    print("A coluna 'listed_in' não possui linhas com apenas números.")
else:
    print(f"A coluna 'listed_in' possui {numbers_only.count()} linhas com apenas números")
    numbers_only.show()

A coluna 'listed_in' não possui linhas com apenas números.

In [35]:
# extraindo as linhas com apenas números da coluna "description"
numbers_only = netflix_df01.filter(regexp_extract(col("description"), regex_pattern_numbers, 0) != "")

if numbers_only.count() == 0:
    print("A coluna 'description' não possui linhas com apenas números.")
else:
    print(f"A coluna 'description' possui {numbers_only.count()} linhas com apenas números")
    numbers_only.show()

A coluna 'description' não possui linhas com apenas números.

### Substituindo valores nulos de todas as colunas por "nao_informado"

In [36]:
netflix_df01 = netflix_df01.na.fill(value="non_informed")

### Criando a função de conexão com o Azure SQL e enviando os dados para a tabela

In [37]:
#Definindo as informações de conexão com o Azure SQL Server
jdbcHostname  = 'my-server-netflix.database.windows.net'
jdbcDatabase  = 'Netflix-db-3'
jdbcPort      = 1433
jdbcUrl       = f'jdbc:sqlserver://{jdbcHostname}:{jdbcPort};database={jdbcDatabase};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30'
tableName     = 'DW_Esther_Andrade.netflix_table'
username      = config['username']
password      = config['password']

#Definindo as opções de conexão
properties = {
    'user': config['username'],
    'password': config['password'],
    'driver': 'com.microsoft.sqlserver.jdbc.SQLServerDriver'
}

# Escrevendo o DataFrame no Azure SQL
netflix_df01.write.jdbc(url=jdbcUrl, table=tableName, mode='overwrite', properties=properties)

Verificando o IP do google colab para autorizar na regra de firwall do banco de dados no portal azure

In [38]:
!curl ipecho.net/plain

34.90.245.178